.root {
    display: flex;
}
.appbar {
    z-index: 2 !important;
}

.menubar {
    width: 10%;
    flex-shrink: 0;
}

.menubar :first-child {
    z-index: 1 !important;
    width: 10%;
}

.content {
    margin: 3rem 0.5rem 0.5rem 0.5rem;
    flex-grow: 1;
    width: 90%;
    height: 100vh;
    display: flex;
}