.componentCard {
    background: #fff;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 0;
}

.componentCard .title {
    font-size: 18px;
    margin: 0;
}

.componentCard .search {
    background: #e5e5e5;
    margin: 0;
}

.componentCard .subHeader {
    background: #fff;
    padding-bottom: 10px;
}

.componentCard .subHeader::before {
    background: inherit;
    display: block;
    content: ' ';
    height: 8px;
    position: absolute;
    top: -8px;
    width: 100%;
}